<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889879832382-l58u452hr3lp0rq29drdqf2d5fb3uv9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889879832382-l58u452hr3lp0rq29drdqf2d5fb3uv9t</string>
	<key>API_KEY</key>
	<string>AIzaSyDsyQJLfPDrUTCS5UmiiXJ39iDcvUJQEjM</string>
	<key>GCM_SENDER_ID</key>
	<string>889879832382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.au.aumall.aumall</string>
	<key>PROJECT_ID</key>
	<string>aumall-7869e</string>
	<key>STORAGE_BUCKET</key>
	<string>aumall-7869e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889879832382:ios:788062851fb614cabe6e6f</string>
</dict>
</plist>